.main {
    background: var(--main-color);
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 20px;
}

.logo a {
    color: var(--text-color);
    text-decoration: none;    
}

.logo h1 {
    font-family: "Photograph";
    font-size: 5rem;
    margin: 20px 0;
}

.logo h1:hover {
    text-decoration: underline;
}

.profile-acc {
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.sign-in {    
    display: none;
    align-items: center;
    margin: auto;
}

.sign-in a {    
    text-decoration: none;
    color: var(--text-color);
}

.sign-icon {
    font-size: 22px;
    padding: 0 8px;
}

.sign-text a{
    font-size: 18px;
}

.sign-in:hover .sign-text {
    text-decoration: underline;
}

.sign-ined {
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}

.sign-ined-icon {
    cursor: pointer;
    color: var(--text-color);
    padding-bottom: 4px;
    padding-right: 30px;
    font-size: 2.2rem;
}

.infor-profile {
    width: 65%;
    color: var(--text-color);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infor-title h1 {
    font-size: 4.2rem;
    text-align: center;
}

.infor-title p {
    font-size: 1.6rem;
    text-align: center;
    padding: 15px 0;
}

.infor-dec-item {
    margin-bottom: 40px;
}

.infor-dec-item h1 {
    display: inline-block;
    font-size: 2.8rem;
    padding-bottom: 15px;
    border-bottom: 2px dashed white;
}

.infor-dec-item p {
    font-size: 1.5rem;
    line-height: 2.2rem;
}

@media screen and (max-width: 1199px) {
    .header {
        width: 90%;
        padding-top: 5px;
    }
}
@media screen and (min-width: 767px) and (max-width: 1023px) { 
    .infor-profile {
        width: 70%;
    }
}
@media screen and (max-width: 767px) {
    .infor-profile {
        width: 70%;
    }
    .infor-title h1 {
        line-height: 45px;
    }
    .infor-dec-item h1 {
        line-height: 35px;
    }
    .sign-ined-droplist {
        right: -10px;
    }
    .sign-ined-droplist {
        width: 165px;
    }
    .sign-ined-icon {
        display: none;
    }
    #icon-add-image {
        display: block;
        z-index: 5;
        position: fixed;
        bottom: 40px;
        left: 40px;
        padding: 15px 18px;
        background-color: #002b41;
        cursor: pointer;
        font-size: 2.6rem;
        color: var(--text-color);
        border-radius: 30px;
        transition: all .4s;
    }
    .modal_inner {
        display: flex;
        flex-direction: column;
    }
    .modal_image {
        width: 100%;
        height: 230px;
        margin-top: 40px;
    }
    .modal_type {
        margin: 0;
    }
    .modal_border img {
        height: 200px;
        margin: 0 auto;
        width: auto;
    }
    .modal_button {
        width: 100%;
    }
}