@media screen and (max-width: 1199px) {
    .header {
        width: 90%;
        padding-top: 5px;
        margin: 0 auto;
    }    
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .select,
    .album {
        padding: 30px 50px;
    }
    .columm-2_5 {
        width: 25%;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) { 
    .album-item img {
        width: 100%;
        height: auto;
    }
    .album-dec {
        width: 100%;
    }
    .album-item {
        margin-bottom: 20px;
    }
    .columm-2_5 {
        width: 33.3333%;
    }
}

@media screen and (max-width: 767px) { 
    .profile-avt,
    .profile-avt-first {
        flex-direction: column;
    }
    .profile-avt-first h1 {
        padding-left: 0;
    }
    .profile-follow {
        justify-content: center;
    }
    .select {
        flex-direction: column;
    }
    .select-item {
        padding: 12px 18px;
    }
    .select-type {
        justify-content: center;
    }
    .select-item i {
        display: none;
    }
    .select-filter {
        display: none;
    }
    .row {
        flex-direction: column;
    }
    .columm-2_5 {
        width: auto;
    }
    .album-item {
        margin-bottom: 20px;
    }
    .album-item img {
        width: 100%;
        height: auto;
    }
    .sign-ined-droplist {
        right: -10px;
        width: 165px;
    }
    .sign-ined-icon {
        display: none;
    }
    #icon-add-image {
        display: block;
        z-index: 5;
        position: fixed;
        bottom: 40px;
        left: 40px;
        padding: 15px 18px;
        background-color: #002b41;
        cursor: pointer;
        font-size: 2.6rem;
        color: var(--text-color);
        border-radius: 30px;
        transition: all .4s;
    }
    .modal_inner {
        display: flex;
        flex-direction: column;
    }
    .modal_image {
        width: 100%;
        height: 230px;
        margin-top: 40px;
    }
    .modal_type {
        margin: 0;
    }
    .modal_border img {
        height: 200px;
        margin: 0 auto;
        width: auto;
    }
    .modal_button {
        width: 100%;
    }
}